@{
    ViewData["Title"] = "My Account";

    Layout = "../Shared/_Layout.cshtml";
}

<div class="tm-breadcrumb-area tm-padding-section bg-grey" data-bgimage="../assets/images/breadcrumb-bg.jpg">
    <div class="container">
        <div class="tm-breadcrumb">
            <ul>
                <li><a href="/">Home</a></li>
                <li>My Account - <b>@ViewBag.UserName</b></li>
            </ul>
        </div>
    </div>
</div>
<main class="page-content">
    <div class="tm-section tm-my-account-area bg-white tm-padding-section">
        <div class="container">
            @if (!string.IsNullOrEmpty(ViewBag.Message))
            {
                <div class="alert alert-success" role="alert">
                    @ViewBag.Message
                </div>
            }
            <div class="tm-myaccount">
                <ul class="nav tm-tabgroup" id="account" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="account-dashboard-tab" data-toggle="tab"
                           href="#account-dashboard" role="tab" aria-controls="account-dashboard"
                           aria-selected="true">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="account-orders-tab" data-toggle="tab" href="#account-orders"
                           role="tab" aria-controls="account-orders" aria-selected="false">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="account-address-tab" data-toggle="tab" href="#account-address"
                           role="tab" aria-controls="account-address" aria-selected="false">Address</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="account-acdetails-tab" data-toggle="tab"
                           href="#account-acdetails" role="tab" aria-controls="account-acdetails"
                           aria-selected="false">Account Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="account-logout-tab" href="@Url.Action("UserLogout", "Home")" role="tab"
                           aria-controls="account-address" aria-selected="false">Logout</a>
                    </li>
                </ul>
                <div class="tab-content" id="account-ontent">
                    <div class="tab-pane fade show active" id="account-dashboard" role="tabpanel"
                         aria-labelledby="account-dashboard-tab">
                        <div class="tm-myaccount-dashboard">
                            <p>
                                Hello <b>@ViewBag.UserName</b>
                            </p>
                            <p>
                                From your account dashboard you can view your recent orders, manage your
                                shipping and billing addresses, and edit your password and account details.
                            </p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="account-orders" role="tabpanel"
                         aria-labelledby="account-orders-tab">
                        <div class="tm-myaccount-orders">
                            <div class="table-responsive">
                                <table class="table table-bordered mb-0">
                                    <thead>
                                        <tr>
                                            <th class="tm-myaccount-orders-col-id">ORDER ID</th>
                                            <th class="tm-myaccount-orders-col-date">DATE</th>
                                            <th class="tm-myaccount-orders-col-status">STATUS</th>
                                            <th class="tm-myaccount-orders-col-total">TOTAL</th>
                                            <th class="tm-myaccount-orders-col-view">VIEW</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>#12345</td>
                                            <td>30 December 2018</td>
                                            <td>On Hold</td>
                                            <td>$132.00 for 2 items</td>
                                            <td>
                                                <a href="#" class="tm-button tm-button-small">View</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#12346</td>
                                            <td>30 December 2018</td>
                                            <td>On Hold</td>
                                            <td>$220.00 for 3 items</td>
                                            <td>
                                                <a href="#" class="tm-button tm-button-small">View</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="account-address" role="tabpanel"
                         aria-labelledby="account-address-tab">
                        <div class="tm-myaccount-address">
                            <p><b>The following addresses will be used on the checkout page by default.</b></p>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 mt-30 mt-md-0">
                                    <div class="tm-myaccount-address-shipping">
                                        <h3>Shipping Address</h3>
                                        <address>
                                            @ViewBag.UserName<br>
                                            @ViewBag.UserEmail<br>
                                            @ViewBag.UserAddress <br>
                                            @ViewBag.UserCity <br>
                                            @ViewBag.UserState
                                        </address>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="account-acdetails" role="tabpanel"
                         aria-labelledby="account-acdetails-tab">
                        <div class="tm-myaccount-acdetails">
                            <form action="@Url.Action("UserUpdate", "Home")" method="post" class="tm-form tm-form-bordered">
                                <h4>Account Details</h4>
                                <div class="tm-form-inner">
                                    <div class="tm-form-field tm-form-fieldhalf">
                                        <label for="acdetails-firstname">First name</label>
                                        <input type="text" id="acdetails-firstname" value="@ViewBag.UserF_name" name="UserFname">
                                    </div>
                                    <div class="tm-form-field tm-form-fieldhalf">
                                        <label for="acdetails-lastname">Last name</label>
                                        <input type="text" id="acdetails-lastname" value="@ViewBag.UserL_name" name="UserLname">
                                    </div>
                                    <div class="tm-form-field">
                                        <label for="acdetails-email">Email address</label>
                                        <input type="email" id="acdetails-email" value="@ViewBag.UserEmail" name="EmailID">
                                    </div>
                                    <div class="tm-form-field">
                                        <label for="acdetails-password">Password</label>
                                        <input type="password" id="acdetails-password" value="@ViewBag.UserPass" name="Password">
                                    </div>
                                    <div class="tm-form-field tm-form-fieldhalf">
                                        <label for="acdetails-city">City</label>
                                        <input type="text" id="acdetails-city" value="@ViewBag.UserMob" name="MobNo">
                                    </div>
                                    <div class="tm-form-field tm-form-fieldhalf">
                                        <label for="acdetails-city">City</label>
                                        <input type="text" id="acdetails-city" value="@ViewBag.UserCity" name="City">
                                    </div>
                                    <div class="tm-form-field tm-form-fieldhalf">
                                        <label for="acdetails-state">State</label>
                                        <input type="text" id="acdetails-state" value="@ViewBag.UserState" name="State">
                                    </div>
                                    <div class="tm-form-field tm-form-fieldhalf">
                                        <label for="acdetails-address">Address</label>
                                        <input type="text" id="acdetails-address" value="@ViewBag.UserAddress" name="Address">
                                    </div>
                                    <div class="tm-form-field tm-form-field">
                                        <button type="submit" class="tm-button">Save Changes</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>